{
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        // "libraryDirectory": "es",
        "style": true // `style: true` 会加载 less 文件
      }
    ],
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": false
      },
      "react-hot-loader/babel"
    ],
    
    "syntax-dynamic-import"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ]
}